*, *:after *:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

nav {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__logo {
    margin: auto;
    float: left;
}

.nav__menu {
    display: flex;
    width: 100%;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.nav__menu li {
    display: inline-block;
    padding-right: 30px;
}

#cart {
    display: inline-block;
    margin: auto;
    width: 150px;
}

a {
    color: black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    padding: 50px;
}

section {
    background-color: #f5f5f5;
}

.cart__table {
    background-color: white;
    padding: 60px 40px 60px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table {
    border-bottom: 1px solid #ddd;
}

.table thead th {
    padding-bottom: 30px;
    border-top-color: white;
}

.table th:first-child {
    padding-left: 27px;
}

.table td, .table th {
    vertical-align: middle;
}

.table td {
    padding-bottom: 40px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

img {
    width: 100px;
}

tr {
    height: 150px;
}

tr:first-child {
    height: 0px;
}

th {
    color:rgb(171, 171, 171);
}

th:first-child {
    width: 60%;
    margin: 0;
}

td:nth-child(4), td:nth-child(8) {
    padding-bottom: 120px;
}

.table__products {
    margin: 0;
    font-family: 'Calibri';
}

h6 {
    font-size: 0.95rem;
}

h7, h8 span {
    color: rgb(171, 171, 171);
}

.table__buttons {
    display: flex;
    align-items: center;
    justify-content: left;
}

.table__quantity {
    background-color: rgb(230, 230, 230);
    padding: 13px;
    margin-right: 2px;
    width: 34%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table__addquantity {
    display: inline-flex;
    flex-direction: column;
    width: 10%;
}

.table__addquantity button {
    border: none;
    margin-right: 10px;
    padding-right: 13px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.table__plus {
    margin-bottom: 1px;
}

.table__minus {
    margin-top: 1px;
}

.table__price {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 15px;
    color: rgb(171, 171, 171);
}

.cancel {
    position: relative;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

th:last-child, td:last-child {
    text-align: center;
}

.cancel:hover {
    opacity: 1;
}
  
.cancel:before, .cancel:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.cancel:before {
    transform: rotate(45deg);
}

.cancel:after {
    transform: rotate(-45deg);
}

.cart__totals {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid lightgrey;
}

.col-md-5 {
    padding-top: 20px;
    padding-bottom: 25px;
}

label, .subtotal-value {
    color: rgb(171, 171, 171);
}

.subtotal-value, .total-value {
    text-align: right;
}

.total-value {
    font-size: 13.5px;
}

.cart__decision {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    margin-top: 20px;
}

.cart__decision {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.continue {
    text-decoration: underline;
    padding-left: 27px;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 25px;
    background-color: #2e2d2d;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}