*, *:after *:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

nav {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__logo {
    margin: auto;
    float: left;
}

.nav__menu {
    display: flex;
    width: 100%;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.nav__menu li {
    display: inline-block;
    padding-right: 30px;
}

#cart {
    display: inline-block;
    margin: auto;
    width: 150px;
}

a {
    color: black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    padding: 50px;
}

section {
    background-color: #f5f5f5;
    border-top: 1px solid #dadada;
    padding-bottom: 60px;
}

.cart__table {
    background-color: white;
    width: 66.5%;
    margin: auto;
    display: grid;
    grid-template-columns: 5.7fr 1fr 1fr 1fr;
    border-top: 1px solid white;
    padding: 60px 40px 40px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart__table > span {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.cart__table-headers {
    color: rgb(171, 171, 171);
}

.cart__table > span:nth-child(1),
.cart__table > span:nth-child(2),
.cart__table > span:nth-child(3),
.cart__table > span:nth-child(4) {
    padding-bottom: 40px;
}

.cart__table > span:nth-child(5),
.cart__table > span:nth-child(6),
.cart__table > span:nth-child(7),
.cart__table > span:nth-child(8),
.cart__table > span:nth-child(9),
.cart__table > span:nth-child(10),
.cart__table > span:nth-child(11),
.cart__table > span:nth-child(12) {
    padding-top: 30px;
    padding-bottom: 60px;
}

.cart__table span:nth-child(2),
.cart__table span:nth-child(3),
.cart__table span:nth-child(4),
.cart__table span:nth-child(7),
.cart__table span:nth-child(11) {
    text-align: right;
}

.cart__table span:nth-child(8),
.cart__table span:nth-child(12) {
    text-align: center;
}

.cart__table span:nth-child(5),
.cart__table span:nth-child(9) {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.cart__table span:nth-child(5) span:nth-child(2),
.cart__table span:nth-child(9) span:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

img {
    width: 120px;
}

h6 {
    font-size: 0.95rem;
}

h7, h8 span {
    color: rgb(171, 171, 171);
}

h6, h7, h8 {
    font-family: 'Calibri';
}

.table__buttons {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table__quantity {
    background-color: rgb(230, 230, 230);
    padding: 12.5px;
    margin-right: 2px;
    width: 60%;
    text-align: center;
}

.table__addquantity {
    display: inline-flex;
    flex-direction: column;
    width: 13%;
}

.table__addquantity button {
    border: none;
    margin-right: 10px;
    padding-right: 13px;
    background-color: lightgrey;
}

.table__plus {
    margin-bottom: 1px;
}

.table__minus {
    margin-top: 1px;
}

.table__price {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 15px;
    color: rgb(171, 171, 171);
}

.cancel {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.cancel:hover {
    opacity: 1;
}
  
.cancel:before, .cancel:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.cancel:before {
    transform: rotate(45deg);
}

.cancel:after {
    transform: rotate(-45deg);
}

.cart__totals {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 66.5%;
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.cart__totals > span {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 25px;
}

.totals-subtotal {
    display: grid;
    grid-template-columns: 50% 50%;
}

.totals-subtotal > span:nth-child(2) {
    text-align: right;
}

label, .subtotal-value {
    color: rgb(171, 171, 171);
}

.cart__decision {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    display: flex;
    width: 66.5%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.cart__decision span:nth-child(2) {
    padding-right: 40px;
}

.continue {
    text-decoration: underline;
    padding-left: 40px;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 25px;
    background-color: #2e2d2d;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}