*, *:after *:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

nav {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__logo {
    margin: auto;
    float: left;
}

.nav__menu {
    display: flex;
    width: 100%;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.nav__menu li {
    display: inline-block;
    padding-right: 30px;
}

.cart {
    display: inline-block;
    margin: auto;
    width: 150px;
}

a {
    color: black;
}

header {
    background: no-repeat center / 100% url("media/plates-header.jpg");
}

.header__text {
    background-color: rgb(60, 60, 60);
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 100px 30px 100px 30px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    width: 14%;
}

header p {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 14.5px;
    padding-top: 10px;
}

.container-fluid {
    padding: 50px 0 50px 0;
}

.container {
    width: 73%;
}

.row img {
    margin: auto;
    object-fit: cover;
    height: 230px;
    width: 330px;
    text-align: center;
    padding-bottom: 10px;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Calibri';
    font-size: 16px;
}

h6 {
    color: grey;
    font-size: 13.5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.col-md-4 p {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    color: rgb(177, 174, 174);
    font-size: 18px;
}

.row > div {
    text-align: center;
    height: 350px;
}

/* "View details" and "Add to Cart" buttons appearing when hovering over the picture of the plate */

.products {
    position: relative;
    text-align: center;
}

.products:hover img{
    opacity: 0.5;
}

.products:hover input {
    display: block;
}

.products input {
    position: absolute;
    display: none;
}

.products input.products__details-button {
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.products input.products__add-button {
    background-color: rgb(89, 89, 89);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}