*, *:after *:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

nav {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__logo {
    margin: auto;
    float: left;
}

.nav__menu {
    display: flex;
    width: 100%;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.nav__menu li {
    display: inline-block;
    padding-right: 30px;
}

#cart {
    display: inline-block;
    margin: auto;
    width: 150px;
}

a {
    color: black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
}

.breadcrumb ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.breadcrumb li {
    padding-right: 5px;
}
    
.breadcrumb li::before {
    content: "/ ";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 50px 30px;
    text-align: center;
}

.details img {
    width: 100%;
    height: 400px;
    margin: auto;
    object-fit: cover;
}

.details h1 {
    padding-right: 50px;
    padding-left: 50px;
}

.details__text {
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.details__addtocart {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background-color: #555555;
    font-size: 12.5px;
    letter-spacing: 1px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}