*, *:after *:before {
    box-sizing: border-box;
}

body {
    background-color: white;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

nav {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__logo {
    margin: auto;
    float: left;
}

.nav__menu {
    display: flex;
    width: 100%;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.nav__menu li {
    display: inline-block;
    padding-right: 30px;
}

#cart {
    display: inline-block;
    margin: auto;
    width: 150px;
}

a {
    color: black;
}

header {
    background: no-repeat center / 100% url("media/plates-header.jpg");
}

.header__text {
    background-color: rgb(60, 60, 60);
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 100px 30px 100px 30px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: bold;
}

.container-fluid {
    padding: 50px 0 50px 0;
}


.row img {
    margin: auto;
    object-fit: cover;
    height: 200px;
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
}

h5 {
    text-transform: uppercase;
}

.row div {
    text-align: center;
    height: 330px;
}

/* ---------- "Product Details" page ---------- */

.breadcrumb ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    position: relative;
    justify-content: center;
}

.breadcrumb li {
    padding-right: 5px;
}
    
.breadcrumb li::before {
    content: "/ ";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 50px 30px;
}

.details img {
    width: 100%;
    height: 400px;
    margin: auto;
    object-fit: cover;
}

.details h1 {
    padding-right: 50px;
    padding-left: 50px;
}